AUTH_SECRET=

AUTH_SPOTIFY_ID=
AUTH_SPOTIFY_SECRET=

SPOTIFY_BASE_URL=https://api.spotify.com/v1
SPOTIFY_AUTH_URL=https://accounts.spotify.com/api/token

NEXT_PUBLIC_REDIRECT_URL=http://localhost:3000/
NEXT_PUBLIC_REDIRECT_LOGIN_URL=http://localhost:3000/login
